@font-face {
  font-family: ShabnamFD;
  src: url("./fonts/persian/Shabnam-FD/Thin/Shabnam-Thin-FD.eot"),
    url("./fonts/persian/Shabnam-FD/Thin/Shabnam-Thin-FD.woff2"),
    url("./fonts/persian/Shabnam-FD/Thin/Shabnam-Thin-FD.woff"),
    url("./fonts/persian/Shabnam-FD/Thin/Shabnam-Thin-FD.ttf");
  font-weight: 100;
  font-display: fallback;
}
@font-face {
  font-family: ShabnamFD;
  src: url("./fonts/persian/Shabnam-FD/Light/Shabnam-Light-FD.eot"),
    url("./fonts/persian/Shabnam-FD/Light/Shabnam-Light-FD.woff2"),
    url("./fonts/persian/Shabnam-FD/Light/Shabnam-Light-FD.woff"),
    url("./fonts/persian/Shabnam-FD/Light/Shabnam-Light-FD.ttf");
  font-weight: 200;
  font-display: fallback;
}
@font-face {
  font-family: ShabnamFD;
  src: url("./fonts/persian/Shabnam-FD/Regular/Shabnam-FD.eot"),
    url("./fonts/persian/Shabnam-FD/Regular/Shabnam-FD.woff2"),
    url("./fonts/persian/Shabnam-FD/Regular/Shabnam-FD.woff"),
    url("./fonts/persian/Shabnam-FD/Regular/Shabnam-FD.ttf");
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: ShabnamFD;
  src: url("./fonts/persian/Shabnam-FD/Medium/Shabnam-Medium-FD.eot"),
    url("./fonts/persian/Shabnam-FD/Medium/Shabnam-Medium-FD.woff2"),
    url("./fonts/persian/Shabnam-FD/Medium/Shabnam-Medium-FD.woff"),
    url("./fonts/persian/Shabnam-FD/Medium/Shabnam-Medium-FD.ttf");
  font-weight: 500;
  font-display: fallback;
}
@font-face {
  font-family: ShabnamFD;
  src: url("./fonts/persian/Shabnam-FD/Bold/Shabnam-Bold-FD.eot"),
    url("./fonts/persian/Shabnam-FD/Bold/Shabnam-Bold-FD.woff2"),
    url("./fonts/persian/Shabnam-FD/Bold/Shabnam-Bold-FD.woff"),
    url("./fonts/persian/Shabnam-FD/Bold/Shabnam-Bold-FD.ttf");
  font-weight: 700;
  font-display: fallback;
}
@font-face {
  font-family: Shabnam;
  src: url("./fonts/persian/Shabnam/Thin/Shabnam-Thin.eot"),
    url("./fonts/persian/Shabnam/Thin/Shabnam-Thin.woff2"),
    url("./fonts/persian/Shabnam/Thin/Shabnam-Thin.woff"),
    url("./fonts/persian/Shabnam/Thin/Shabnam-Thin.ttf");
  font-weight: 100;
  font-display: fallback;
}
@font-face {
  font-family: Shabnam;
  src: url("./fonts/persian/Shabnam/Light/Shabnam-Light.eot"),
    url("./fonts/persian/Shabnam/Light/Shabnam-Light.woff2"),
    url("./fonts/persian/Shabnam/Light/Shabnam-Light.woff"),
    url("./fonts/persian/Shabnam/Light/Shabnam-Light.ttf");
  font-weight: 200;
  font-display: fallback;
}
@font-face {
  font-family: Shabnam;
  src: url("./fonts/persian/Shabnam/Regular/Shabnam.eot"),
    url("./fonts/persian/Shabnam/Regular/Shabnam.woff2"),
    url("./fonts/persian/Shabnam/Regular/Shabnam.woff"),
    url("./fonts/persian/Shabnam/Regular/Shabnam.ttf");
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: Shabnam;
  src: url("./fonts/persian/Shabnam/Medium/Shabnam-Medium.eot"),
    url("./fonts/persian/Shabnam/Medium/Shabnam-Medium.woff2"),
    url("./fonts/persian/Shabnam/Medium/Shabnam-Medium.woff"),
    url("./fonts/persian/Shabnam/Medium/Shabnam-Medium.ttf");
  font-weight: 500;
  font-display: fallback;
}
@font-face {
  font-family: Shabnam;
  src: url("./fonts/persian/Shabnam/Bold/Shabnam-Bold.eot"),
    url("./fonts/persian/Shabnam/Bold/Shabnam-Bold.woff2"),
    url("./fonts/persian/Shabnam/Bold/Shabnam-Bold.woff"),
    url("./fonts/persian/Shabnam/Bold/Shabnam-Bold.ttf");
  font-weight: 700;
  font-display: fallback;
}
