// colors
$gray-e5: #e5e5e5;
$gray-75: #757575;
$gray-f9: #f9f9f9;
$dark-blue: #434f67;
$gray-8b: #8b8b8b;
$gray-light: #b4c2d8;
$gray-cc: #cccccc;
$gray-light2: #f2f6fb;
$gray-light3: #eaebed;
$gray-c0: #c0c0c0;
$black: #000000;
$white: #ffffff;
$blue: #007bff;
$blue2: #2169f5;
$sky: #dfeaff;
$blackText: #212529;
$red: #cb444a;
$green: #33ae08;
$green-dark: #299603;
