@use "/src/styles/variable" as *;

.navbar {
  width: 250px;
  background-color: $white;
  padding: 25px 20px;
  ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    li {
      list-style: none;
      height: 40px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      border-radius: 4px;
      cursor: pointer;
      transition: 200ms;
      &.active {
        background-color: $sky;
        color: $blue2;
      }
      span {
        font-size: 16px;
      }
    }
  }
  h2 {
    margin: 0;
    font-size: 13px;
    font-weight: normal;
  }
}
